h1 {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
}

ul {
    padding: 0;
}

body {
    margin: 0;
}

figure {
    margin-top: 0;
}

ul,
li {
    list-style-type: none;
}

address {
    min-height: 40px;
    margin-bottom: 20px;
    line-height: 1.4;
}

a {
    display: inline-block;
    margin-bottom: 20px;
    color: #1976d2;
}

.btn-class {
    background: #1976d2;
    color: #fff;
    padding: 7px;
    width: 100%;
    font-size: 13px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    max-width: 100px;
    margin-bottom: 0;
    border: 1px solid #1976d2;
}

.added {
    color: #1976d2;
    background-color: #fff;
    max-width: 200px;
    pointer-events: none;
}

.btn-remove {
    pointer-events: initial;
}

.authors-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-left: 30px;
}

.authors-list li {
    border: 1px solid #f1f1f1;
    background-color: #fff;
    padding: 1rem;
    border-radius: 3%;
    border: 1px solid #ccc;
    margin: .5rem;
    width: 90%;
    min-width: 300px;
    min-height: 200px;
    text-align: center;
}

.authors-list figure {
    min-height: 72px;
}

.authors-list img {
    border-radius: 50%;
}

.authors-list li span,
.authors-list li strong {
    display: block;
    margin-bottom: 20px;
}

.authors-wrap {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
}

.filters {
    width: 300px;
    padding: 40px 20px;
    border-radius: 4px;
    background: #f4f6f7;
}

.new-proj {
    display: flex;
    margin-bottom:20px ;
    height: 50px;
    
}

.add-proj{
    background: #1976d2;
    color: #fff;
    text-align: left;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 700;
    border: 0;
}

.filters li {
    margin-bottom: 20px;
}

.filters span {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    display: block;
}

fieldset {
    padding: 0;
    border: 0;
}

fieldset label {
    margin-left: 10px;
}

.apply-fil {
    background: #1976d2;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 700;
    border: 0;
}

.search-wrap {
    display: flex;
    justify-content: flex-end;
    margin: 0 50px;
    background-color: #1976d2;
}

.search-wrap button {
    max-width: 100px;
}

.search-wrap input {
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 21px;
    width: 300px;
}

nav {
    width: 100%;
    background-color: #041531;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 100px;
    height: 100px;
    text-align: left;
    padding-left: 20px;
}

.nav-search {
    flex: 2;
    display: flex;
    justify-content: right;
    padding-right: 30px;
    align-items: center;
    height: 100px;
}

.nav-search input {
    font-size: 20px;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 500px;
    height: 60px;
    margin-right: 10px;
}

.nav-search button {
    padding: 10px 10px;
    width: 120px;
    height: 60px;
    font-size: 20px;
    border-radius: 50px;
    background-color: #fff;
    color: #041531;
    border: none;
    cursor: pointer;
}

.nav-welcome {
    padding-left: 20px;
    font-size: 20px;
    color: #fff;
}

.nav-profile {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.nav-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}